:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px;
    min-height: 100vh;
    min-width: 320px;
}
